<app-header [hidden]="webScannerEnabled"></app-header>

<ion-content>
	<ion-grid class="container">
		<ion-row>
			<ion-col>
				<img class="qrCode" (click)="scanQrCode()">
				<p> Clicca per attivare la fotocamera e inquadra il QR code</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<img class="typeCode" (click)="enterCode()">
				<p> Clicca per utilizzare il codice a 6 cifre</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<zxing-scanner *ngIf="webScannerEnabled"
				(scanSuccess)="scanSuccessHandler($event)"
				(scanError)="scanErrorHandler($event)">
</zxing-scanner>


