<ion-tabs [hidden]="hideTabs">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cart" *ngIf="hasItems">
      <ion-icon size="large" name="cart"></ion-icon>
      <ion-badge color="danger">{{state.elem}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="chatbubble"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
