ion-toolbar {
	--min-height:100px !important;
	&.footer {
		--min-height: 50px !important;
	}
}

ion-content {
	--keyboard-offset: 0 !important;
}

ion-badge {
	top: 10px;
	min-width: 16px;
	font-size: 12px;
}


.title {
	font-size: 24px;
	font-weight: bold;

	&.small {
		font-size: 16px;
	}
}

.list-divider {

}
