.btn-promo {
  height: 20px;
  font-weight: bold;
  font-size: 11px;
  --border-radius: 10px;

  span {
    padding: 0 8px;
  }
}

.text-small {
  font-size: 12px;
}

ion-card.menu-slide {
  height: 210px;
  width: 100%;
  border-radius: 20px;
  max-width: 140px;
  margin: 15px 10px !important;

  img {
    height: 100%;
    width: 100%;
  }

  .card-title {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
  }
}

.help {
  justify-content: space-between !important;
  text-align: center;
  img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    &.live-chat {
      content: url("../../assets/image/live chat.png");
    }
    &.chiamaci {
      content: url("../../assets/image/chiamaci.png");
    }
  }
}
